/* RESETS ========================================= */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background-color: aquamarine;
  padding: 20px;
}
